<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Express - React example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lora:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheet/app.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="text/javascript">
      function init() {
        gapi.isReady = true;
      }
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" id="header-container">
        <div class="col-md-12">
          <h1 class="text-center">Alonso thoughts</h1>
          <p class="text-center lead">Happiness only real when shared</p>
        </div>
      </div>
      <div class="row" id="body-container">
        <div class="col-md-4 .col-sm-12" id="left-container">
          <div class="row">
            <div class="col-md-10 col-sm-4 col-md-offset-1">
              <img src="images/6406682.jpg" class="img-responsive img-circle" alt="Alonso @ The Blowhole"/>
              <div id="google-signin"> {{{ googleSigninMu }}} </div>
            </div>
            <div class="col-md-12 col-sm-8">
              <div id="activity-box"> {{{ activityBoxMu }}} </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-md-offset-1 .col-sm-12" id="right-container">
          <div id="blog-pagination"> {{{ blogsMu }}} </div>
        </div>
      </div>
      <div class="row" id="footer-info">
        <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xm-12">
          <h4 class="text-left">Let's touch base</h4>
          <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1 col-xs-offset-2 col-sm-offset-0 col-md-offset-0">
              <i class="fa fa-github fa-2x" ></i>
            </div>
            <div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1 col-xs-7 col-xs-offset-1">
              <a href="https://github.com/lvaldovinos"> lvaldovinos </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1 col-xs-offset-2 col-sm-offset-0 col-md-offset-0">
              <i class="fa fa-linkedin fa-2x" ></i>
            </div>
            <div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1 col-xs-6 col-xs-offset-1">
              <a href="https://www.linkedin.com/profile/view?id=280404993&trk=nav_responsive_tab_profile_pic"> Luis Valdovinos </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1 col-xs-offset-2 col-sm-offset-0 col-md-offset-0">
              <i class="fa fa-stack-overflow fa-2x" ></i>
            </div>
            <div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1 col-xs-7 col-xs-offset-1">
              <a href="http://stackoverflow.com/users/3773628/lvaldovinos"> lvaldovinos </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1 col-xs-offset-2 col-sm-offset-0 col-md-offset-0">
              <i class="fa fa-twitter fa-2x" ></i>
            </div>
            <div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1 col-xs-7 col-xs-offset-1">
              <a href="https://twitter.com/alonsovalencia_?lang=en"> alonsovalecnia_ </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9 col-md-offset-2  col-sm-9 col-sm-offset-2 col-xs-8 col-xs-offset-4">
              <a href="https://www.npmjs.com/~lvaldovinos"> npm profile </a>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xm-12">
          <h4 class="text-left">Current company</h4>     
          <h5 class="text-left"><a href="http://www.unosquare.com">Unosquare</a></h5>
          <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1 col-xs-offset-2 col-sm-offset-0 col-md-offset-0">
              <i class="fa fa-globe fa-2x"></i>
            </div>
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-7 col-xs-offset-1">
              <address>
                <strong>Guadalajara , Mexico</strong>
                <div>Av. Américas 1536 1A</div>
                <div>Col. Country Club</div>
                <div>C.P. 44637</div>
                <div>Jalisco, México</div>
                <div id="company-phone">
                  <span>+52 (33) 3839-1855</span>
                </div>
              </address>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="footer-email">
        <div class="col-md-12">
          <p class="text-center">
            <i class="fa fa-envelope fa-lg" ></i>
            <a href="mailto:lastkiss115@gmail.com">Luis Alonso Valdovinos Valencia</a>
          </p>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript/bundle.js"></script>
    <script type="text/javascript" src="javascript/alonso-client.js"></script>
  </body>
</html>